footer {
  background-color: #0f222d;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-around;

  p {
    color: #fff;
    font-size: 1.4rem;
    margin: 0;
  }

  i {
    font-size: 4rem;
    color: #fff5d1;
    transition: color 0.3s, font-size 0.3s;
  }

  i:hover {
    font-size: 4.4rem;
  }
}
